.main-div{
    background-color: rgb(105, 180, 196);
    min-height: 70vh;
    min-width: 80vw;
    display: flex;
    justify-content: center;

}
.child-div{
    background-color: rgb(108, 105, 140);
    min-height:40vh ;
}

.eachItem{
    display: inline-block;
    display:flex;
    justify-content: space-between;
    
}